html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

a {
  color: #00e;
  text-decoration: none;
}

a:visited {
  color: #00e;
}

a:hover {
  text-decoration: underline;
}