html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #00e;
  text-decoration: none;
}

a:visited {
  color: #00e;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 0;
  list-style-position: inside;
  li {
    margin-bottom: 0.25rem;
  }
}
