html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #00e;
  text-decoration: none;
}

a:visited {
  color: #00e;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

ul li:before {
  content: "•";
  font-size: 170%;
  padding-right: 5px;
}
